$inputBorderColor: #E2E2E2;
$loginFormBackgroundColor: #ffffffe3;
$whiteColor: #fff;
$blackColor: #000;
$mainBlueColor: #3AC8E6;
$secondaryBlueColor: rgba(58, 200, 230, 0.19);
$hoverColor: #DAF5FA;
$disabledBGColor: #E2E2E2;
$disabledTextColor: #8C8C8C;
$sidebarTextColor: #A6EBFA;
$sidebarButtonColor: #6EE4FD;
$headerCounterTextColor: #B0B0B0;
$headerCounterBgColor: #E3FAFF;
$lightGreyColor: #FAFAFA;
$juniorLevelColor: #03DDA8;
$middleLevelColor: #FFC849;
$seniorLevelColor: #FE3131;
$lightgray: lightgray;
$gold: gold;
$cropperBackground: #39f;
$boxShadowAvatar: #6c93001a;
$materialInputBorder: rgb(226 226 226);