@import "../../styles/variables.scss";

:host {
  width: 100%;
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: $lightGreyColor;

    th,
    td {
      border: 1px solid $materialInputBorder;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: $mainBlueColor;
      color: $whiteColor;
    }

    td {
      button {
        &:hover {
          background-color: $hoverColor;
        }
      }
    }

    tr {
      &:hover {
        background-color: $secondaryBlueColor;
      }
    }
  }
}
